/*
Stylesheet für die Übung Responsive Design
© 2021 Enno Hyttrek
ehy.training@gmail.com
https://ennohyttrek.de
https://github.com/ennohyttrek

Schritt 02

Dem Reset wird eine Anweisung hinzugefügt, die normale Hauptnavigation nicht darzustellen (display: none). Gleichzeitig erhält die Media Query für den  ersten Breakpoint die Anweisung, die Hauptnavigation wieder darzustellen und dafür die Mobil Navigation entsprechend zu verbergen. Dies ist in dieser Übung die erste Anpassung in Richtung eines Responsive Design.

Der Ansatz mit zwei dedizierten Navigationsmenüs für Desktop und Mobil zu arbeiten bietet sich an, wenn man vorhat, das Design in WordPress umzusetzen. Denn WordPress macht es sehr einfach mit verschiedenen Menüs zu arbeiten. Ein anderer Ansatz wäre, nur mittels CSS ein und dasselbe Menü für Mobil und Desktop unterschiedlich zu stylen.

Als nächstes machen wir das 'Burger Icon' sichtbar, das bislang nur als unsichtbare CSS Struktur im Code lag. Dies geschieht was die Struktur und Form betrifft im Stylesheet im neu hinzugefügten Bereich NAVIGATION. Allerdings wird das Icon erst sichtbar, wenn im ebenfalls neu hinzugefügten Bereich COLOR & STYLE den Elementen des Icons auch Hintergrundfarben zugewiesen werden.

Und weil wir schon einmal dabei sind, legen wir gleich noch ein paar Hintergrund- und Schriftfarben an. Wir nutzen dabei als Farbmodell HSL, da man damit ohne Hilfe eines anderen Programms zur Beurteilung oder Vorbereitung der Farben (z.B. Adobe Photoshop oder Illustrator) schon sehr gut ein stimmiges Farbsystem anlegen kann. Lediglich semi-transparente Farben müssen im RGBa Modell angelegt werden, da nur hier ein Alpha Kanal möglich ist.

Trick: wir geben dem Footer hierbei keine Hintergrundfarbe. Vielmehr wird dieser in der Hintergrundfarbe des Bodys dargestellt. Dadurch wird sichergestellt, dass es für den Betrachter so aussieht, also ob der Footer immer bis zum unteren Rand des Viewports reicht. Tatsächlich hört er erheblich weiter oben auf, wenn man ganz nach unten scrollt, denn in  unserem Layout ist darunter noch das Mobil Menü (warum das so ist wird im nächsten Schritt erklärt). Die anderen weiter oben liegenden, und den Body überdeckenden, Hauptbereiche (Header, Main) erhalten ihre eigenen Hintergrundfarben. Dadurch ist der Body Hintergrund nur im Footer zu sehen, und wird praktisch (und ausschliesslich) zum Footer Hintergrund.

*/

/*
RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.main-nav {
    display: none;
}


/*
LAYOUT
*/

.more-link,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 1rem 20px;
}

article {
    padding-bottom: 2rem;
}

/*
NAVIGATION
*/

nav.burger-icon {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    padding: 8px;
}

nav.burger-icon span {
    display: block;
    height: 8px;
    width: 34px;
    margin-bottom: 3px;
    border-radius: 3px;
}

/*
COLOR & STYLE
*/

/**C&S Backgrounds **/

body {
    background: hsl(200, 21%, 13%);
}

header {
    background: hsl(200, 21%, 34%);
}

main {
    background: #fff;
}

/**C&S Type Colors **/

main,
main a {
    color: hsl(200, 21%, 13%);
}

header,
footer,
header a,
footer a {
    color: hsl(200, 21%, 89%);
}


/**C&S Burger Icon **/

nav.burger-icon span {
    background: hsl(200, 21%, 68%);
}


/*
TYPOGRAPHY
*/


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}


/*
RESPONSIVE DESIGN (MEDIA QUERIES)
*/

@media only screen and (min-width: 600px) {}
